.iframe-changebox{
    width: 148px;
    height: 148px;
    border: 1px solid;
    background-color: white;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.iframe-messagebox{
    width: 500px;
    top: 550px;
    background-color: white;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.iframe-messagebox > textarea {
    width: 400px;
    height: 200px;
    font-size: 26px;
}

.iframe-messagebox > button{
    position: relative;
    height: 40px;
    top: 50px;
}

#iframe-cover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    opacity: 0.8;
    background-color: black;
}

.locktext{
    font-size: 200px;
    color: white;
    top: 200px;
    left: 100px;
    position: absolute;
    transform: rotateZ(-24deg);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#first-frame{
    overflow: hidden;
    position: absolute;
    left: 1000px;
    top: 283px;
    width: 800px;
    height: 900px;
}

h1{
    text-align: center;
}

#up{
    top: 0;
    left: 150px;
}
#down{
    left: 150px;
    top: 150px;
}
#left{
    top: 150px;
    left: 0;
}
#right{
    top: 150px;
    left: 300px;
}
#enter{
    top: 150px;
    left: 550px;
}
#back{
    top: 0px;
    left: 550px;
}
#menu{
		top: 300px;
    left: 550px;
}
#play{
    top: 350px;
    left: 150px;
}
#rewind{
    top: 350px;
    left: 0px;
}
#forward{
    top: 350px;
    left: 300px;
}
#quit{
    top: 550px;
    left: 550px;
}
#index{
    top: 700px;
		left: 550px;
}
